/* Component LESS */
@color1: #D9CEB2;
@color2: #948C75;
@color3: #D5DED9;
@color4: #7A6A53;
@color5: #99B2B7;

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/* Add Component LESS Above */
html {
    height: 100%;
}

body,
.height-inherit {
    height: inherit;
}

.column.left,
.column.right {
    background: @color3;
}

#canvas-wrapper {
    position: relative;
    }
    #ui {
        position: relative;
    }
    canvas {
        border: 1px solid #000;
        margin: 0 auto;
    }
